/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
   @media print {      
    @page {
      size: auto;
      margin: 0;
    }
    [hidden] {
      display: none;
    }
    html {
      margin: 1;
      padding: 1;
      min-height: auto !important;
      font-size: 13px;
    }
    body {
      color: #000;
      margin: 0 auto;
      font-size: 1rem;
      line-height: 1.5;
    }
    .social-accounts {
      line-height: 1.2;
      display: block !important;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .social-accounts h1 {
      margin: 0 0 8px 0;
      font-size: 24px;
      font-weight: bold !important;
    }
    .social-accounts h6 {
      margin: 0;
      font-size: 12px;
      font-weight: normal;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }
    .social-accounts br {
      display: none;
    }
    .social-accounts i {
      margin: 0;
      font-style: normal;
      white-space: nowrap;
    }
    a, a:visited {
      color: #000 !important;
      background-color: #fff !important;
      text-decoration: none;
      word-wrap: break-word;
    }
    .tool-small, .language-small, .tag-small a {
      color: #000 !important;
      background-color: #fff !important;
      text-decoration: none;
      word-wrap: break-word;
    }    
    table {
      border: 2px solid black;
      width: 100%;
    }
    thead {
      border: 2px solid black;
      background: black;
      color: #fff;
      text-align: left;
      font-weight: bold;
      width: 25%;
      -webkit-print-color-adjust: exact;
    }
    tr {
      border: 2px solid black;
    }
    td {
      border: 2px solid black;
      color: #000;
      -webkit-print-color-adjust: exact;
    }
    .pagebreak { page-break-before: always; }
    .btn-mobile-menu,
    .panel-main,
    .user-image,
    .footer,
    .adsbygoogle, 
    .no-print {
      display: none !important;
      height: 1px !important;
    }
  }