table {
	border: 1px solid white;
	width: 100%;

	th {
		border: 1px solid white;
		text-align: left;
		font-weight: bold;
		padding: 12px;
		width: 25%;
	}

	tr {
		border: 0px solid white;
		td {
			border: 1px solid white;
			padding: 12px;
		}
	}
}
